<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Okul_Not_Otomasyon_Projesi.Properties.Settings.BonusOkulConnectionString"
            connectionString="Data Source=MSAGLAM\MSSQLSERVER1;Initial Catalog=BonusOkul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>